<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Website</title>
        <link rel="stylesheet" href="assets/styles/reset.css">
        <link rel="stylesheet" href="assets/styles/style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    </head>
    
    <body>
    
        <header>
            <div class="logo">
                <a href="index.php">
                    <img src="assets/images/noun_967219_cc.png" alt="Home" width="50">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a class="link" href="index.html">HOME</a>
                    </li>
    
                    <li>
                        <a class="link" href="about.html">ABOUT</a>
                    </li>
                    <li>
                        <a class="link" href="the-bunnies.html">THE BUNNIES</a>
                    </li>
                    <li>
                        <a class="link" href="test.html">TEST</a>
                    </li>
                </ul>
            </nav>
        </header>