ul {
    margin-top: 0px;
}

header {
    height: auto;
    background: lavenderblush;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

li {
    display: inline-block;
}

nav {
    text-align: center;
    line-height: 150%;
    padding-bottom: 50px;
}

nav a {
    margin: 0 5px;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: black;
}

a:hover {
    color: tan;
}

a:active {
    color: black;
}

.logo {
    width: 50px;
    margin: 0 auto;
    padding: 50px 0 25px 0;
}

.front-page {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4;
    font-family: 'Raleway', sans-serif;
}

.bunny-image {
    display: inline-block;
    max-width: 50%;
    margin-bottom: -3px;
}

.bun-for-sale {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 100px;
    font-weight: 700;
    color: tan;
    letter-spacing: 25px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.container {
    margin: 50px auto;
    max-width: 1000px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    text-align-last: center;
    line-height: 130%;
    letter-spacing: .5px
}

h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 20px 0;
}

.section-one,
.section-two,
.section-three {
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.section-one {
    border-bottom: 1px solid #e4e4e4;
}

.section-two div {
    margin: 0 1.5% 0 1.5%;
}

.section-two div {
    width: 30%;
    display: inline-block;
}

.rabbitimage {
    width: 100%;
    height: auto;
}

.section-two {
    border-bottom: 1px solid #e4e4e4;
}

.aboutbutton {
    margin: 50px auto 0;
}

.aboutbutton a {
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: black;
    border: 1px solid #e4e4e4;
}

.aboutbutton a:hover {
    color: tan;
    border-bottom: none;
    background: #e4e4e4;
}

.sub-page-container {
    border: 1px solid #e4e4e4;
    border-spacing: 0.5em;
    padding: 2em 2em 1em 2em;
}

.wrapper {
    display: grid;
    grid-template-columns: .50fr .50fr;
    grid-gap: 20px;
    margin: 20px 0 20px 0;
}

.about-bunnies {
    width: 100%;
}

.col {
    border: 1px solid #e4e4e4;
    border-spacing: 0.5em;
    padding: 1em;
}

.wrapper-two {
    display: grid;
    grid-template-columns: .33fr .33fr .33fr;
    grid-gap: 20px;
    margin: 20px 0 20px 0;
}

.wrapper-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
    margin:50px;
}

.box {
    background-color: tan;
    color: white;
    border-radius: 30px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: 1/3;
}

.b {
    grid-column: 3;
    grid-row: 1/4;
}

.container-flex {
    background: tan;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxa {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 30px;
}

footer {
    height: 50px;
    background: lavenderblush;
    border-top: 1px solid #e4e4e4;
}